{% extends "base.html" %}
{% load static %}
{% block title %}新材公告 - 新材数科有限公司{% endblock %}
{% block breadcrumb %}
<span class="layui-breadcrumb" lay-separator=">">
  <a href="{% url 'index' %}">首页</a>
  <a href="{% url 'newslist' %}">新闻动态</a>
   <a href="?ct={{ article_category }}">
        {% if article.category == 'gg' %}
        公司公告
        {% elif article.category == 'xw' %}
        行业新闻
        {% endif %}
    </a>
    <a href="" style="color: #00a971 !important;">{{ article.title }}</a>
</span>
{% endblock %}

{% block content %}
<section id="index-body">
    <!-- START 新闻内容  -->
    <div class="layui-row product-row">
        <div class="layui-col-xs6 layui-col-md12">
            <div class="product-image"></div>
        </div>
        <div class="layui-row normal-container">
            <div class="layui-col-xs12 layui-col-md9">
                <div class="news-detail-box">
                    <section class="news-detail-title">
                        <h1>{{ article.title }}</h1>
                        <div><span>{{ article.add_time|date:'Y-m-d' }}</span></div>
                    </section>
                    <section class="news-detail-content">
                        {% autoescape off %}
                        {{ article.content }}
                        {% endautoescape %}
                    </section>
                    <section class="news-detail-page">
                        <ul>
                                    <li>
                                        {% if previous_article %}
                                        <a href="{% url 'news' previous_article.id %}" class="page-link text-truncate">上个：
                                            {{ previous_article.title }}</a>
                                        {% else %}
                                        <a href="#" class="page-link text-truncate">上个：无</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if next_article %}
                                        <a href="{% url 'news' next_article.id %}" class="page-link text-truncate">下个：
                                            {{ next_article.title }}</a>
                                        {% else %}
                                        <a href="#" class="page-link text-truncate">下个：无</a>
                                        {% endif %}
                                    </li>
                                </ul>
                    </section>
                </div>
            </div>
            <div class="layui-col-xs6 layui-col-md3">
                <div class="news-detail-sidebar">
                    <ul class="sidebar-column">
                        <li><a href="{% url 'newslist' %}" title="新闻动态">新闻动态</a></li>
                        <li><a href="{% url 'newslist' %}?ct=gg" title="公司公告">公司公告</a></li>
                        <li><a href="{% url 'newslist' %}?ct=xw" title="行业新闻">行业新闻</a></li>
                    </ul>
                    <div class="sidebar-news-list">
                        <h3 class="font-size-16 m-0">为您推荐</h3>
                        <ul class="list-group list-group-bordered m-t-10 m-b-0">
                            {% for article in all_articles %}
                            <li class="list-group-item"><a href="{% url 'news' article.id %}" title="{{ article.title }}">{{ article.title }}</a></li>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END 新闻内容  -->
</section>
{% endblock %}

{% block custom_js %}
<script src="{% static 'layui/use-layui.js' %}"></script>
{% endblock %}